use the print() function to print out the phrase: Hello, world!

In [19]:
print("Hello, world!")

Hello, world!

use the type() function to check the object type of 12.0.

In [20]:
type(12.0)

float

What is the data type of the result of: 6 / 2?

In [21]:
type(6/2)

float

What is the type of the result of: 6 // 2?

In [22]:
type(6//2)

int

write an expression that calculates how many hours there are in 160 minutes:

In [23]:
160//60

2

What is the value of x where x = 3 + 2 * 2

In [24]:
x = 3 + 2 * 2
print(x)

7

What is the value of y where y = (3 + 2) * 2?

In [25]:
y = (3 + 2) * 2
print(y)

10

What is the value of z where z = x + y?

In [26]:
z = x + y
print(z)

17

What is the value of the variable A after the following code is executed?

In [2]:
A='1'

In [5]:
A

'1'

What is the value of the variable B after the following code is executed?

In [6]:
B='2'

In [7]:
B

'2'

What is the value of the variable C after the following code is executed?

In [12]:
C =A + B

In [13]:
C

'12'

Consider the variable D use slicing to print out the first three elements:

In [14]:
D = "ABCDEFG"

In [16]:
print(D[:3])

ABC

Use a stride value of 2 to print out every second character of the string E:

In [17]:
E = 'clocrkr1e1c1t'

In [18]:
print(E[::2])

correct

Print out a backslash:

In [27]:
print("\\")

\

Convert the variable F to uppercase:

In [28]:
F = "You are wrong"
F.upper()

'YOU ARE WRONG'

Consider the variable G, and find the first index of the sub-string snow:

In [29]:
G = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"
G.find("snow")

95

In the variable G, replace the sub-string Mary with Bob:

In [30]:
G.replace("Mary", "Bob")

'Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go'

Consider the following tuple:

In [1]:
# sample tuple 

genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

Find the length of the tuple, genres_tuple:

In [2]:
len(genres_tuple)

8

Access the element, with respect to index 3:

In [3]:
genres_tuple[3]

'hard rock'

Use slicing to obtain indexes 3, 4 and 5:

In [4]:
genres_tuple[3:6]

('hard rock', 'soft rock', 'R&B')

Find the first two elements of the tuple genres_tuple:

In [5]:
genres_tuple[0:2]

('pop', 'rock')

Find the index of "disco":

In [6]:
genres_tuple.index("disco")

7

Generate a sorted List from the Tuple C_tuple=(-5, 1, -3):

In [7]:
C_tuple = (-5,1,-3)
C_list = sorted(C_tuple)
C_list

[-5, -3, 1]

Create a list a_list, with the following elements 1, hello, [1,2,3] and True.

In [8]:
a_list=[1, 'hello', [1,2,3 ] , True]
a_list

[1, 'hello', [1, 2, 3], True]

Find the value stored at index 1 of a_list.

In [9]:
a_list[1]

'hello'

Retrieve the elements stored at index 1, 2 and 3 of a_list.

In [10]:
a_list[1:4]

['hello', [1, 2, 3], True]

Concatenate the following lists A = [1, 'a'] and B = [2, 1, 'd']:

In [11]:
A = [1, 'a']
B = [2, 1, 'd']
A + B

[1, 'a', 2, 1, 'd']

Convert the list <code>['rap','house','electronic music', 'rap']</code> to a set:

In [2]:
set(['rap','house','electronic music','rap'])

{'electronic music', 'house', 'rap'}

Consider the list A = / [1,2,2,1] and set B = set(/ [1,2,2,1]), does sum(A)== sum(B)

In [2]:
A=[1,2,2,1]
B=set([1,2,2,1])
print(sum(A)==sum(B))
print(sum(A))
print(sum(B))

False
6
3

In [3]:
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

Create a new set album_set3 that is the union of album_set1 and album_set2:

In [4]:
album_set3 = album_set1.union(album_set2)
album_set3

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

Find out if album_set1 is a subset of album_set3:

In [5]:
album_set1.issubset(album_set3)

True

a) In the dictionary <code>soundtrack_dict</code> what are the keys ?

In [4]:
 # The Keys "The Bodyguard" and "Saturday Night Fever"

b) In the dictionary <code>soundtrack_dict</code> what are the values ?

In [5]:
# The values are "1992" and "1977"

Write an if statement to determine if an album had a rating greater than 8. Test it using the rating for the album <b>“Back in Black”</b> that had a rating of 8.5. If the statement is true print "This album is Amazing!"

In [6]:
rating = 8.5
if rating > 8:
    print ("This album is Amazing!")

This album is Amazing!

Write a <code>for</code> loop the prints out all the element between <b>-5</b> and <b>5</b> using the range function.

In [1]:
for i in range(-5, 6):
    print(i)

-5
-4
-3
-2
-1
0
1
2
3
4
5